/* Importing Google fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    --main-bg-color:  #4447eb;
    --main-btn-color: #FC5E27;
    --main-footer-color: #FFCC2A;
}



@media screen and (max-width: 768px) {



}



